
 /* XL devices:1200 */
@media (min-width: 1200px)and (max-width: 1500px) { 


}
/* LG devices:992 */
@media (min-width: 992px) and (max-width: 1200px) { 


}

/* Md devices:786  */
@media (min-width: 768px) and (max-width: 991px) {



}

/*Extra small devices*/

@media (max-width: 767) {


}

 /*SM small devices:550px */

@media (max-width: 575px) { 
.btn {
	margin-bottom: 20px;
}
.header-table-cell h1 {
	font-size: 35px;
}
.social-icons ul li {
	margin-left: 10px;
}
}
















