/**
* Style.css
*
* Main style file for Event HTML Landing Page
**/


/**
*********************************************
* Table of Contents
*********************************************
* 
* 1. Reset CSS
* 2. Header CSS
*   2.1 Header Top CSS
*   2.2 Menu CSS
* 3. Slider CSS
*
*
*
*
* 11. Footer CSS
*   11.1 Footer Top CSS
*   11.2 Footer Bottom CSS
*************** Individual Pages CSS ***************
* 12. About Page
*   12.1 About Page Hero Area
*       12.1.1 About Page Hero Left 
*       12.1.2 About Page Hero Right 
*   12.2 About Page Carousel CSS
**/


/**
*******************************************
* 1. Reset CSS start
*******************************************
**/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Zilla+Slab:300,300i,400,400i,500,500i,600,600i,700,700i');
html,
body {
    height: 100%;
}
*{
    outline: none!important
}
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline-offset: -2px;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
    font-family: 'Zilla Slab', sans-serif;
    color: #000;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  color: #888888;
}
a:hover {
    text-decoration: none
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

* {
    margin: 0;
    padding: 0;
}


/**
*******************************************
* 1. Reset CSS End
*******************************************
**/
.slide-bg-1{background-image: url(../images/slide-bg.jpg);}
.slide-bg-2{background-image: url(../images/slide-bg-1.jpg);}
.slide-bg-3{background-image: url(../images/slide-bg-2.jpg);}
.header-area.header-absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header-area {
  font-size: 16px;
  font-family: 'Zilla Slab', sans-serif;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu ul li {
  display: inline-block;
}
.mainmenu ul li a {
  display: block;
  padding: 20px;
  font-weight: 700;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  margin-top: 19px;
}
.search-icon {
  margin-top: 19px;
  display: inline-block;
  font-size: 20px;
}
.header-area.header-absolute,.header-area.header-absolute a {
  color: #fff;
}
.single-slide-item {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
}
.single-slide-item:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000;
  z-index: -1;
  opacity: .66;
}
.single-slide-item a {
  color: #fff;
}
.single-slide-item h2 {
  font-size: 40px;
  color: #fff;
}
.single-slide-item h2 span {
  font-weight: 300;
  font-style: italic;
}

.video-btn {
    position: relative;
    display: block;
    margin-top: 35px;
}
.service-btn {
  background: #0BBBC1;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
  padding: 15px 45px;
  border-radius: 50px;
  margin-top: 40px;
  text-transform: capitalize;
}
.slide-content {
    padding: 160px 0px;
}
.service-btn i {
  margin-left: 10px;
}
.play-icon {
  position: absolute;
  background: #0BBBC1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
}


.owl-carousel .owl-item .slide-content img {
  width: auto;
  display: inline-block;
}
.home-carousel-active:hover .owl-nav div{
  opacity: 1;
  top: 50%;
}
.home-carousel-active .owl-nav div {
  position: absolute;
  left: 12%;
  top: 30%;
  color: #fff;
  font-size: 25px;
  opacity: 0;
  transition: .4s;
}
.home-carousel-active .owl-nav .owl-next {
  right: 13%;
  left: auto;
}



.section-padding {
  padding: 100px 0px;
}
.single-promo-box {
  text-align: center;
  margin-top: 30px;
}
.promo-icon {
  margin-bottom: 30px;
}
.space-90 {
  height: 90px;
}
.section-padding p {
  margin-top: 40px;
  font-size: 13px;
  text-align: justify;
}
.tile-gallery {
  position: relative;
  height: 700px;
  margin-left: 15px;
}
.tile-gallery img {
  border-radius: 5px;
  box-shadow: 0 0 10px #d8d8d8;
  position: relative;
  z-index: 1;
}
.tile-gallery img:nth-child(2) {
  position: absolute;
  right: -16px;
  top: 25px;
  z-index: 1;
}
.tile-gallery img:last-child {
  position: absolute;
  left: 25px;
  bottom: 0;
  z-index: 4;
}
.services-bg {
  position: relative;
  overflow: hidden;
}
.services-bg:before{
  background-image: url(../images/service-bg.jpg);
}
.services-bg:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 51.2%;
  height: 100%;
  content: "";
}
.single-service-item {
  position: relative;
  display: block;
  padding-left: 100px;
  color: #9b9b9b;
  text-decoration: none;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1;
  font-weight: 700;
}

.service-icon {
  position: absolute;
  left: 35px;
  top: 6px;
  height: 100%;
  display: table;
}
.service-icon-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.single-service-item p {
  margin-bottom: 0;
}
.single-service-item h3 {
  font-size: 20px;
}
.single-service-item:last-child {
  margin-bottom: 0;
}

.single-service-item:hover h3 {
  color: #fff;
}

.single-service-item:hover .service-icon img {
  background-color: #fff;
}

.single-service-item:hover {
  background: #0BBBC1;
  color: #fff;
}
.single-service-item:hover:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 5000%;
  height: 100%;
  content: "";
  background: #0BBBC1;
  z-index: -1;
}
.single-progress-bar {
  text-align: center;
  margin-top: 80px;
}
.progress-bar-wrap {
  position: relative;
}
.progress-percentage {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 48px;
  font-weight: 600;
  width: 100%;
  line-height: 40px;
  margin-top: -20px;
  color:#333;
}
.single-progress-bar h3 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  margin-top: 40px;
}

.section-padding.text-alignment p {
  text-align: center;
  margin: 0 0;
  margin-top: 10px;
}
.section-padding.text-alignment h2 {
  margin: 0;
  text-transform: capitalize;
}
.cta-bg-1{background-image: url(../images/cta-bg.jpg);}

.section-padding {
  background-size: cover;
  background-position: center;
}
.cta-black-overlay{
   position: relative;
   z-index: 1;
}
.cta-black-overlay:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: .6;
  z-index: -1;
}
.cta-black-overlay, .cta-black-overlay h1,.cta-black-overlay a {
  color: #fff;
}
.cta-black-overlay h1 {
  font-size: 30px;
}
.cta-black-overlay p {
  margin: 0;
}
.cta-btn {
  display: inline-block;
  background: #0BBBC1;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 25px;
}


.portfolio-bg-1{background-image: url(../images/portfolio-1.jpg);}
.portfolio-bg-2{background-image: url(../images/portfolio-2.jpg);}
.portfolio-bg-3{background-image: url(../images/portfolio-3.jpg);}
.portfolio-bg-4{background-image: url(../images/portfolio-4.jpg);}

.single-portfolio-item {
    background-color: #ddd;
    background-position: center;
    background-size: cover;
    height: 310px;
    margin: 15px 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.single-portfolio-item {
  box-shadow: 0px 0 15px #ddd;
}
.portfolio-hover-table {
  display: table;
  width: 100%;
  height: 100%;
}
.portfolio-hover-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.single-portfolio-item.large {
  height: 650px;
}
.portfolio-hover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    font-size: 20px;
}
.portfolio-hover:after {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .7;
}
.portfolio-hover h4, .portfolio-hover a {
  color: #fff;
}
.portfolio-hover h4 {
  font-size: 20px;
  margin: 0;
}
.single-portfolio-item:hover .portfolio-hover {
  opacity: 1;
  visibility: visible;
}
.space_70{height: 70px;}

.no-padding-top{
  padding-top: 0px
}

.owl-carousel .owl-item .single-team-item img {
  width: auto;
  display: inline-block;
}

.single-team-item {
  text-align: center;
  background: #f1ebeb;
  padding: 50px 40px;
  margin-bottom: 3px;
}
.single-team-item img {
  border-radius: 50%;
}
.single-team-item h4 span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Noto Sans', sans-serif;
  color: #B7B7B7;
  line-height: 30px;
}
.single-team-item h4 {
  margin-top: 30px;
}

.team-list .owl-dots div,.testimonial-list .owl-dots div {
  width: 10px;
  height: 10px;
  background: #eeeeee;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  transition: .3s;
}
.team-list .owl-dots,.testimonial-list .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.team-list .owl-dots div.active,.testimonial-list .owl-dots div.active {
  background: #3399FF;
}

.testimonial-bg{background-image: url(../images/team-bg.jpg);}

.single-testimonial-item {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 40px;
  border-radius: 10px
}
.single-testimonial-item p {
  font-style: italic;
  font-family: 'Zilla Slab', sans-serif;
  font-weight: 700;
}
.testmonial-icon {
  font-size: 70px;
  font-weight: 700;
  color: #0bbbc1;
  line-height: 50px;
}
.single-testimonial-item h5 {
  margin-top: 40px;
}
.single-testimonial-item h5 span {
  display: block;
  font-size: 12px;
  color: #888888;
  font-weight: normal;
  margin-top: 10px;
}

.owl-carousel .owl-item .logo-item-inner img {
  width: auto;
  display: inline-block;
}

.footer-area{
  background-color: #F5F5F5;
  padding: 100px 0px;
}

.footer-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;
}
.footer-area ul li a {
  color: #4A4A4A;
  display: block;
  padding-top: 2px;
}
.footer-area li {
  color: #000;
  font-weight: 600;
}
.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #000;
  color: #000;
  transition: .3s;
  margin-right: 6px;
}
.social-icons a:hover {
  background: #0BBBC1;
  border-color: #0BBBC1;
  color: #fff;
}
.social-icons {
  margin-top: 40px;
}

.single-logo-item {
  display: table;
  width: 100%;
  height: 70px;
}
.logo-item-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.logo-carousel {
  margin: -30px 0px;
}



/* contact-form css start here */
.hero-area{
  background-image: url(../images/hero-bg.jpg);
}

.hero-area {
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  padding-top: 180px;
  padding-bottom: 130px;
}
.hero-text {
  font-size: 16px;
  margin-top: 120px;
}
.hero-text h1 {
  font-size: 41px;
  line-height: 45px;
}
.register-now-form {
  background: #fff;
  padding: 40px 60px;
  border-top: 10px solid #0BBBC1;
  border-radius: 5px;
}
.register-now-form h3 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 45px;
}
.register-now-form h3 span {
  color: #e60909;
}
input,button,textarea {
  width: 100%;
  padding: 10px;
  color: #000;
  border: 1px solid #ddd;
}
input[type="submit"],button[type="submit"] {
  width: auto;
  border: none;
  background: #0BBBC1;
}
.register-now-form p {
  margin-bottom: 30px;
}
.register-now-form p:last-child {
  margin-bottom: 0px;
}
.register-now-form input[type="submit"] {
  width: 100%;
  color: #fff;
  font-weight: 600;
}
/*form end*/

.gray-bg{background: #FBFBFB;}

.cta-bg-2{background-image: url(../images/cta_bg-2.jpg);}

.ticker-text {
  background: #303030;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 50px;
  color: #fff;
  margin-bottom: 20px;
}
.success-section p {
  padding-right: 40px;
}
.success-section h2 {
  font-size: 28px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}
.boxed-btn {
  background: #3399FF;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  font-weight: 700;
  border-radius: 50px;
  margin-top: 50px;
}

/*service-box css start*/

.margin-80 {
  margin: 80px 0px;
}
.service-box .service-icon {
  position: relative;
  width: 100%;
}
.service-box img {
  width: 35px;
  margin-bottom: 20px;
}
.service-box p {
  line-height: 30px;
}
.service-box {
  text-align: center;
  margin-bottom: 10px;
  padding: 50px 25px;
  cursor: pointer;
  transition: .3s;
}
.service-box h3 {
  font-size: 20px;
}
.service-box:hover {
  background: #FBFBFB;
}
/*service-box css end*/

/*expert-team-style css start*/

.expert-team-style .single-team-item h4 span {
  font-size: 13px;
}
.expert-team-style .single-team-item {
  background: #fbfbfb;
  box-shadow: 0px 0px 4px #f1f1f1;
  transition: .3s;
  margin:4px;
  border-radius: 5px;
  border:1px solid transparent;
}
.expert-team-style .single-team-item:hover{
  border:1px solid #0BBBC1;
  border-radius: 5px;
  box-shadow: 0 0 0;
}
.cta-bg-2 h1 {
  font-size: 33px;
}
.single-blog-box h3 {
  font-size: 18px;
}
.single-blog-box {
  box-shadow: 0 0 10px #ddd;
  padding: 50px 30px;
  border-radius: 10px;
}
.single-blog-box a {
  color: #0BBBC1;
  font-weight: 700;
  text-transform: capitalize;
}
.single-blog-box a i.fa {
  margin-left: 7px;
}
.single-blog-box p {
  margin-top: 20px;
}
.footer-bg{background: #131313;color: #fff;}
.footer-bg .footer-logo, .footer-bg a, .footer-bg ul li, .footer-bg h3 {
  color: #fff;
}
.footer-bg .social-icons a {
  border: 1px solid #fff;
}
.footer-bg .social-icons a:hover{
  border-color: #0bbbc1;
}