/*===================
CSS Index

*Base CSS
*Mainmenu CSS  
*Seo-analysis CSS 
*Gallery CSS
*Service CSS 
*Pricing CSS 
*Case Studies CSS
*Footer CSS

====================*/



/*===================
Base CSS
====================*/

html, body, .hero-area-4{
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
body {
  line-height: 1.7;
}

.section-title h2 {
  font-weight: 400;
}

.owl-dots div.active {
  background-color: #06D6A0;
}
a.boxed-btn, input[type="submit"], button[type="submit"]{
  background-color: #06D6A0;
}
 a.read-more-btn.read-btn-color-2 {
  color: #06d6a0;
}

/*===================
Mainmenu CSS
====================*/

.mainmenu ul li  a:hover {
  color: #06D6A0;
}
.mainmenu ul li ul li a:hover {
  color: #06D6A0;
}
.single-megamenu h4 span {
  color: #06D6A0;
}


/*===================
Seo-analysis CSS
====================*/
.seo-analysis-form input {
  background-color: #073B4C;
  border-color: #073B4C;
}
.seo-analysis-form {
  margin-top: 30px;
}




/*
============== 
Gallery CSS 
==============
*/
.gallery-text-4 h2 {
  font-size: 26px;
}









/*
============== 
Service CSS 
==============
*/

.single-servie-box:hover {
  border: 1px solid #06D6A0;
}
.single-servie-box:hover .service-icon i, .single-servie-box:hover .service-content h3,
 .single-servie-box:hover .service-content a, .social-links ul li a:hover {
  color: #06D6A0;
}

.service-content h3, .service-number h1, .footer-area h4 {
  font-weight: 400;
}



/*
============== 
Pricing CSS 
==============
*/

.single-pricing-box:hover, .single-pricing-box:hover .procing-box-headding{
  border-color: #06D6A0;
}
.procing-box-headding h4, .procing-box-headding-2 h4 {
  font-weight: 400;

}
.table-price {
  color: #06D6A0;
}


/*
============== 
Case Studies CSS 
==============
*/
.single-case-box-2 {
  margin-bottom: 40px;
}
.single-case-box-2 h4 {
  font-weight: 400;
}
.case-details.testimonial-wrapper.owl-carousel .author-info h4 {
  font-weight: 400;
}

/*
============== 
Footer CSS 
==============
*/
.footer-area a:hover{
  color: #06D6A0;
}