a.boxed-btn, input[type="submit"], button[type="submit"] {
	background: #ef476f;
	color: #fff;
}
a.boxed-btn:hover, input[type="submit"]:hover, button[type="submit"]:hover, a.video-play-btn:hover {
	background-color: #178AB2;
}
.single-servie-box:hover .service-icon i, .single-servie-box:hover .service-content h3,
 .single-servie-box:hover .service-content a,.social-links ul li a:hover,.mainmenu ul li  a:hover,.mainmenu ul li ul li a:hover,.single-megamenu h4 span {
	color: #EF476F;
}
.single-servie-box:hover {
	border: 1px solid #ef476f;
}

#Switcher__control i.fa {
  color: #EF476F;
}
#Switcher__control {
  border: 2px solid #EF476F;
}