a.boxed-btn, input[type="submit"], button[type="submit"] {
	background: #130f40;
	color: #fff;
}
a.boxed-btn:hover, input[type="submit"]:hover, button[type="submit"]:hover, a.video-play-btn:hover {
	background-color: #130f40;
}
.single-servie-box:hover .service-icon i, .single-servie-box:hover .service-content h3,
 .single-servie-box:hover .service-content a,.social-links ul li a:hover,.mainmenu ul li ul li a:hover ,
 .mainmenu ul li a:hover,.single-megamenu h4 span {
	color: #130f40;
}
.single-servie-box:hover {
	border: 1px solid #130f40;
}

#Switcher__control i.fa {
  color: #130f40;
}
#Switcher__control {
  border: 2px solid #130f40;
}